# Golang
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
*.trace
*.test
*.test.out
*.test.prof
*.test.trace
/pkg/
/vendor/
/go.sum
/tmp
*_templ.go

# Node.js
node_modules/

# Env
.env

# Images
*.png
*.jpg
*.jpeg
*.gif
*.webp

/data
proxies.txt