{{ define "card" }}
<div id="{{ .Metadata.Position }}" hx-swap-oob="true" class="h-full w-full p-2">
    <div class="h-full grid grid-rows-[22%_78%] px-4 py-5 bg-black bg-opacity-10 backdrop-blur rounded-2xl">
        <div class="flex mb-4 justify-between items-center">
            <div class="flex space-x-3">
                <img src="/images/modules/{{ .Metadata.Icon }}/icon.png" alt="icon_{{ .Metadata.Icon }}"
                    class="h-8 w-8">
                <h2 class="font-bold text-lg text-white">Letterboxd</h2>
            </div>
            <svg role="button" class="w-8 h-8 bg-white duration-200 rounded-lg bg-opacity-0 hover:bg-opacity-10 p-1">
                <use href="#ellipsis-vertical"></use>
            </svg>
        </div>

        <div class="grid grid-cols-5 h-full items-center">
            {{ range .MovieData }}
            {{ block "movie-card" . }}{{ end }}
            {{ end }}
        </div>

    </div>
</div>
{{end}}

{{ define "movie-card" }}
<a id="movie-card-{{.Id}}" href="https://letterboxd.com/film/{{.Slug}}" target="_blank" class="px-1 grid grid-rows-[90%_10%] h-full">
    <div class="rounded-lg overflow-hidden relative">
        <img src="{{ .Poster }}" alt="poster_movie_{{ .Id }}" loading="lazy">
        <div
            class="absolute h-6 bg-black bg-opacity-25 backdrop-blur bottom-0 left-0 w-full flex space-x-1 items-center px-1">
            <img src="{{ .OwnerAvatar }}" alt="avatar_{{ .OwnerAvatar }}" class="h-5 w-5 rounded-full">
            <p class="text-white text-[10px] font-bold max-w-full overflow-ellipsis whitespace-nowrap">{{ .Owner }}</p>
        </div>
    </div>
    <p class="text-sm text-white">{{ .Rating }}</p>
</a>
{{ end }}