{{template "layout.html" .}}

{{define "content"}}
<div class="w-full p-4 flex flex-col items-center" id="content">
    <div role="button" class="bg-white bg-opacity-10 rounded-2xl px-10 py-2 text-white font-bold w-fit h-fit"
        hx-get="/settings/backgrounds" hx-swap="afterend">
        Change Background
    </div>
</div>
{{ end }}

{{ define "bg-popup" }}
<div class="absolute bg-black bg-opacity-20 backdrop-blur h-full w-full top-0 left-0 rounded-[32px] px-16 py-10 flex flex-col"
    id="bg-popup">
    <div class="absolute top-8 right-8 hover:bg-white hover:bg-opacity-10 duration-200 p-2 rounded-xl"
        hx-get="data:text/html," hx-target="#bg-popup" hx-swap="delete">
        <svg class="w-6 h-6 pointer-events-none"><use href="#x-mark"></use></svg>
    </div>

    <h2 class="text-3xl font-bold text-white mb-4">Background modification</h2>

    <label htmlFor="bg_filepicker" class="flex items-center space-x-1 text-white bg-white bg-opacity-10 px-8 py-2 rounded-2xl border border-white border-opacity-15 
    w-fit mb-8 hover:bg-opacity-15 duration-200">
        <input class="hidden" type="file" name="file" id="bg_filepicker" aria-describedby="selected-file" hx-on="change"
            hx-post="/settings/backgrounds" hx-encoding="multipart/form-data" accept="image/*" hx-target="#bg-item-list"
            hx-swap="beforeend" />
            <svg class="w-5 h-5"><use href="#arrow-up-tray"></use></svg>
        <span>Upload New</span>
    </label>

    <div class="flex flex-wrap max-h-full overflow-x-scroll" id="bg-item-list">
        {{range .Backgrounds}}
        {{ block "bg-item" . }}{{end}}
        {{end}}
    </div>
</div>
{{ end }}

{{ define "bg-item" }}
<div id="item-{{.Id}}" class="mr-8">
    <p class="text-white font-bold mb-1">{{.Filename}}</p>
    <img src="/images/background/{{.Filename}}" alt="bg-{{.Filename}}" class="h-44 rounded-lg mb-2">
    <div class="flex space-x-2">
        <div id="button-bg-{{.Id}}">
            {{if .Selected }}
            {{ block "button-bg-selected" . }}{{end}}
            {{ else }}
            {{ block "button-bg-select" . }}{{end}}
            {{ end }}
        </div>
        <div role="button" class="flex items-center text-c-red bg-c-red bg-opacity-10 py-2 px-3 rounded-2xl border border-c-red border-opacity-15 
        w-fit mb-8 hover:bg-opacity-15 duration-200" hx-delete="/settings/backgrounds/{{.Id}}"
            hx-target="#item-{{.Id}}" hx-swap="delete">
            <svg class="w-5 h-5"><use href="#trash"></use></svg>
        </div>
    </div>
</div>
{{ end }}

{{ define "button-bg-selected" }}
<div role="button" class="flex items-center space-x-1 text-c-cyan bg-c-cyan bg-opacity-10 px-8 py-2 rounded-2xl border border-c-cyan border-opacity-15 
w-fit mb-8 hover:bg-opacity-15 duration-200">
    <svg class="w-5 h-5"><use href="#check"></use></svg>
    <span>Set</span>
</div>
{{ end }}

{{ define "button-bg-select" }}
<div role="button" class="flex items-center space-x-1 text-white bg-white bg-opacity-10 px-8 py-2 rounded-2xl border border-white border-opacity-15 
w-fit mb-8 hover:bg-opacity-15 duration-200" hx-post="/settings/backgrounds/selected/{{.Id}}" hx-target="#background">
    <svg class="w-6 h-6"><use href="#arrow-path-rounded-square"></use></svg>
    <span>Set</span>
</div>
{{ end }}

{{ define "oob-button-bg-select" }}
<div id="button-bg-{{.Id}}" hx-swap-oob="outerHTML">
    {{ block "button-bg-select" . }}{{end}}
</div>
{{ end }}

{{ define "oob-button-bg-selected" }}
<div id="button-bg-{{.Id}}" hx-swap-oob="outerHTML">
    {{ block "button-bg-selected" . }}{{end}}
</div>
{{ end }}

{{ define "header_buttons" }}
<span></span>
{{ end }}